<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Registration Successful</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron mt-5">
      <h1 class="display-4">Successful Registration!</h1>
      <p class="lead">Thank you for using our website.</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="http://localhost:5000" role="button">Login</a>
      </p>
    </div>
  </div>
</body>
</html>
